<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/static/logo.png" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css"
		/>
		<title>Pending Table</title>
        <link rel="stylesheet" href="/static/pending_table.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-info">
			<a class="navbar-brand text-dark" href="/"
				><img
					src="/static/logo.png"
					width="32"
					height="32"
					class="d-inline-block align-top mr-2"
				/><b>YMY Agency</b></a
			>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="nav nav-pills">
					<li class="nav-item active">
						<a class="nav-link text-white" href="/pending-table"
							><b>Pending Table</b><span class="sr-only">(current)</span></a
						>
					</li>
          <li class="nav-item">
						<a class="nav-link text-white" href="/progress-table"
							><b>Progress Table</b><span class="sr-only"></span></a
						>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/departments-table"
                                ><b>Departments Offices</b><span class="sr-only"></span></a
                            >
                        </li>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/reports"><b>Reports</b></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/entries"><b>Data Entry</b></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/search"><b>Search</b></a>
					</li>
				</ul>
				<ul class="nav nav-pills">
					<form method="POST" class="form-inline">
						<li class="nav-item form-inline">
							<button
								type="submit"
								class="btn btn-info"
								name="logout"
								value="logout"
							>
								<b>Logout</b>
							</button>
						</li>
					</form>
				</ul>
			</div>
		</nav>
    <form method="POST" id="pending-table-form" name="pending-table-form">
      <div class="mt-1">
        <div id="confirmModal" style="display: none;">
            <div class="modal-content">
              <span class="close">&times;</span>
              <label for="expected-due">Expected Due Date:</label>
              <input type="datetime-local" id="expected-due" class="form-control">
              <button class="btn btn-primary" id="confirmBtn">Confirm</button>
            </div>
          </div>          
          <div class="table-responsive">
              <table id="pending_table" class="table table-striped table-bordered table-info" style="width: 100%;">
                  <thead class="thead-dark">
                      <tr>
                          <th>Client Name</th>
                          <th>Type</th>
                          <th>Course Name</th>
                          <th>Department</th>
                          <th>Description</th>
                          <th>Client File</th>
                          <th>Due Date</th>
                          <th>Timer</th>
                          <th>Select Tutor</th>
                          <th>Confirm Tutor</th>
                          <th>Send Whatsapp</th>
                          <th>Tutors Received</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for project in pending_table %}
                      <tr>
                          <td>{{ project.client_name }}</td>
                          <td>{{ project.type }}</td>
                          <td>{{ project.name }}</td>
                          <td>{{ project.department }}</td>
                          <td>
                            {% if project.description %}
                            {{ project.description }}
                            {%else%}
                            None
                            {%endif%}
                          </td>
                          <td>
                            {% if project.fileClient %}
                            <a href="/download/{{project.fileClient}}" target="_blank">Download File</a>
                            {%else%}
                            None Available
                            {%endif%}
                          </td>
                          <td class="text-danger"><b>{{ project.due }}</b></td>
                          <td id="timer" name="timer" data-creation-time="{{ project.created_at }}" class="text-success"></td>
                          <td>
                              <select style="width: fit-content; height: auto;" id="selected-tutor-{{ project.id }}" class="form-control">
                                <option value="all" data-id="all" data-phone="">All {{project.department}} Tutors</option>
                                  {% for tutor in tutors %}
                                  {% if tutor.department.lower().strip() == project.department.lower().strip() %}
                                  <option value="{{ tutor.id }}" data-id="{{ tutor.id }}" data-phone="{{ tutor.number }}">{{ tutor.name }}</option>
                                  {% endif %}
                                  {% endfor %}
                              </select>
                              <input type="hidden" name="tutor-phone-{{ project.id }}" id="tutor-phone-{{ project.id }}" />
                              <input type="hidden" name="tutor-id-{{ project.id }}" id="tutor-id-{{ project.id }}" />
                              <input type="hidden" name="project-department-{{ project.id }}" value="{{ project.department }}" />
                              <input type="hidden" name="expected-due-{{ project.id }}" id="expected-due-{{ project.id }}">
                          </td>
                          <td>
                            <button class="btn btn-warning text-white" name="send-to-tutor" data-project-id="{{ project.id }}" value="{{project.id}}" onclick="validateTutorSelection('{{ project.id }}')">Confirm</button>
                          </td>                          
                          <td>
                              <button class="btn btn-outline-success" name="whatsapp" data-project-id="{{ project.id }}" value="{{project.id}}" onclick="inputs_hidden('{{ project.id }}')">Send Whatsapp</button>
                          </td>
                          <td>
                            {% if project.tutors_received is none %}
                              None
                            {% elif project.tutors_received %}
                              {% set tutorList = [] %}
                              {% for tutor in tutors %}
                                {% for tutor_id in project.tutors_received %}
                                  {% if tutor.id == tutor_id|int %}
                                    {% set _ = tutorList.append(tutor.name ~ ' (ID: ' ~ tutor.id ~ ')') %}
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                              {% if tutorList %}
                                <button class="btn btn-link" onclick="showTutors('{{ tutorList|join(', ') }}')">View Tutors</button>
                              {% endif %}
                            {% endif %}
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                      <tr>
                          <th>Client Name</th>
                          <th>Type</th>
                          <th>Course Name</th>
                          <th>Department</th>
                          <th>Description</th>
                          <th>Client File</th>
                          <th>Due Date</th>
                          <th>Timer</th>
                          <th>Select Tutor</th>
                          <th>Confirm Tutor</th>
                          <th>Send Whatsapp</th>
                          <th>Tutors Received</th>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>
  </form>
  <div class="col justify-content-center text-center">
    <div class="col" style="max-width: 65%; max-height: 30%; padding-left: 35%; padding-bottom: 10%;">
      <div class="card my-4" style="background-color: rgb(122, 206, 255);">
        <div class="card-header" style="background-color: rgb(56, 86, 255);">
          <h1 class="card-title text-center text-white">New Task</h1>
        </div>
        <div class="card-body">
          <div id="project-form" style="display: none">
            <form method="POST" name="project" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="name">Course Name:</label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control text-center"
                        id="name"
                        name="name"
                        placeholder="Enter course name"
                        autofocus
                        required
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="material-icons">&#xe7ff;</i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="department">Department:</label>
                    <select class="form-control text-center" name="dpt" id="dpt" required>
                      {%for dpt in departments%}
                      <option value="{{dpt}}">{{dpt}}</option>
                      {%endfor%}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="type">Type:</label>
                    <select class="form-control text-center" id="type" name="type" required>
                      <option value="project">Project</option>
                      <option value="assignment">Assignment</option>
                      <option value="exam">Exam</option>
                      <option value="class">Class</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="price">Price:</label>
                    <div class="input-group">
                      <input
                        type="number"
                        class="form-control text-center"
                        id="price"
                        name="price"
                        placeholder="Enter price"
                        required
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="material-icons">&#xe227;</i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <div class="input-group">
                      <textarea
                        class="form-control text-center"
                        id="description"
                        name="description"
                        placeholder="Enter description"
                      ></textarea>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="material-icons">&#xe0b9;</i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="client">Client Name:</label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control text-center"
                        id="client"
                        name="client"
                        placeholder="Enter client name"
                        required
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="material-icons">&#xe7ef;</i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="university">Client University:</label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control text-center"
                        id="university"
                        name="university"
                        placeholder="Enter university name"
                        required
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="material-icons">&#xe80c;</i>
                        </span>
                    </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="due">Due Date and Time:</label>
                    <div class="input-group">
                        <input
                            type="datetime-local"
                            class="form-control text-center"
                            id="due"
                            name="due"
                            required
                        />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="material-icons">&#xe8a3;</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center align-items-center"> 
                      <label class="col-3 ml-0 text-center" for="file">Files:</label>
                      <div class="col-9 text-center">
                        <div class="input-group d-flex justify-content-center">
                          <input
                            type="file"
                            class="form-control-file"
                            id="file"
                            name="file[]"
                            multiple
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mb-3">
                    <button name="task" value="task" type="submit" class="btn btn-success">Submit</button>
                  </div>
                </form>
            </div>
            <div class="text-center">
                <button name="new-task" id="new-task" type="submit" class="btn btn-warning">Add New Task</button>
            </div>
          </div>
        </div>
      </div>
    </div>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<script>
			$(document).ready(function () {
				$("#pending_table").DataTable();
			});
		</script>
        <script>
            function formatTime(timeInSeconds) {
                var hours = Math.floor(timeInSeconds / 3600);
                var minutes = Math.floor((timeInSeconds % 3600) / 60);
                var seconds = Math.floor(timeInSeconds % 60);
                return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                }
            function updateTimers() {
                var timerElements = document.querySelectorAll('#timer');
                timerElements.forEach(function (timerElement) {
                    const source="https://cdn.freesound.org/previews/437/437687_5487341-lq.mp3";
                    var creationTime = new Date(timerElement.getAttribute('data-creation-time'));
                    var currentTime = new Date();
                    var timeZoneOffset = currentTime.getTimezoneOffset();
                    creationTime.setMinutes(creationTime.getMinutes() - timeZoneOffset);
                    currentTime.setMinutes(currentTime.getMinutes());
                    var elapsedTime = Math.floor((currentTime - creationTime) / 1000);
                    var formattedTime = formatTime(elapsedTime);
                    timerElement.textContent = formattedTime;
                    if (elapsedTime >= 1800 && elapsedTime < 1810) {
                        let audio = new Audio();
                        audio.src=source;
                        audio.play();
                    }
                });
            }
            setInterval(updateTimers, 100);
            
            function getTutorPhoneNumber(projectId) {
                var tutorSelect = document.getElementById(`selected-tutor-${projectId}`);
                var tutorPhone = tutorSelect.options[tutorSelect.selectedIndex].getAttribute('data-phone');
                var tutorPhoneInput = document.getElementById(`tutor-phone-${projectId}`);
                tutorPhoneInput.value = tutorPhone;
            }
            function getTutorID(projectId) {
              var tutorSelect = document.getElementById(`selected-tutor-${projectId}`);
              var tutorId = tutorSelect.options[tutorSelect.selectedIndex].getAttribute(`data-id`);
              var tutorIdInput = document.getElementById(`tutor-id-${projectId}`);
              tutorIdInput.value = tutorId;
            }
            function inputs_hidden(projectId) {
              getTutorPhoneNumber(projectId);
              getTutorID(projectId);
            }
            function validateTutorSelection(projectId) {
              var tutorSelect = document.getElementById(`selected-tutor-${projectId}`);
              var selectedValue = tutorSelect.options[tutorSelect.selectedIndex].value;
              inputs_hidden(projectId);
              if (selectedValue === "all") {
                alert("Please choose a specific tutor for the project.");
              } else {
                showExpectedDuePopup(projectId);
              }
            }
        </script>
        <script>
          function showExpectedDuePopup(projectId) {
            var expectedDue = prompt("Enter the expected due date (YYYY-MM-DD HH:MM):");
            if (expectedDue !== null) {
              var expectedDueInput = document.getElementById(`expected-due`);
              expectedDueInput.value = expectedDue;
              console.log(expectedDueInput.value);
              var expectedDueHidden = document.getElementById(`expected-due-${projectId}`)
              expectedDueHidden.value = expectedDue;
              console.log(expectedDueHidden.value);
              // document.getElementById("pending-table-form").submit();
            }
          }
        </script>
        <script>
                var tutorFormVisible = false;
                var tutorFormContainer = document.getElementById("project-form");
                var toggleTutorButton = document.getElementById("new-task");

                tutorFormContainer.style.display = "none";

                toggleTutorButton.addEventListener("click", function () {
                    if (tutorFormVisible) {
                        tutorFormContainer.style.display = "none";
                        toggleTutorButton.textContent = "Create New Task";
                    } else {
                        tutorFormContainer.style.display = "block";
                        toggleTutorButton.textContent = "Hide";
                    }
                    tutorFormVisible = !tutorFormVisible;
                });
          </script>
          <script>
            function showTutors(tutorsList) {
              alert(tutorsList);
            }
          </script>
	</body>
</html>
